@import 'tailwindcss';

.rubik-semibold {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.rubik-medium {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.rubik-regular {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #f0f7ee;
  font-family: rubik;
}

.navbar {
  display: flex;
  border-bottom: 3px black solid;
  padding: 1%;
  justify-content: space-between;
  align-items: center;
}

.titlenav {
  font-size: clamp(1.5rem, 3vw + 1rem, 3.5rem);
  text-decoration: underline;
}

.LoginButton {
  display: inline-block;
  font-size: clamp(1.5rem, 3vw + 1rem, 3.5rem);
  background-color: #ffb140;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 0% 4%;
  border: 2px #878472 solid;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

img {
  max-width: 50%;
  max-height: 45%;
}

.lennardts-comment {
  position: absolute;
  bottom: 100%;
}
